h1 {
  text-align: center;
  text-transform: uppercase;
}

.column {
  float: left;
  width: 20%;
  margin: 15px;
  padding: 15px;

}

.column h2 {
  font-style: italic;
  text-align: center;
}

.column p {
  text-align: justify;
  height: 100px;
}

img {
  width: 100%;
}

.bear {
  font-style: italic;
  font-weight: bold;
}

body {
  font-family: 'Catamaran', sans-serif;
}

.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav-bar li {
  float: left;
  width: 25%;
}

.nav-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-image {
  width: 100%;
  height: 375px;
  object-fit: cover;
  display: block;
}

.nostyle {
  list-style-type: none;
}

.fred {
  width: 60%;
  float: right;
  margin: 2%;
}
.textfor {
  color: red;
  font-size: 20px;
  font-style: italic;
  margin: 10%;
  text-align: justify;
  width: 20%;
}

.adjustme {
  width: 60%;
  float: left;
}
.movetext {
  text-align: justify;
  margin: 2%;
  width: 35%;
  float: right;
}
@media screen and (max-width: 1000px) {

  .aye {
    display: block;
    float: left;
    width: 40%;
    margin: 1%;
    padding: 1%;
  }
  .bee {
    display: block;
    float: left;
    width: 40%;
    margin: 1%;
    padding: 1%;
  }
}
